<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>编辑待办事项</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <style>
        #topnav{
            font-size: 1.35em;
            padding-left: 5em;
            padding-right: 5em;
            height: 2.5em;
        }
        nav input{
          width: 39%!important;
        }
        #form-edit{
           margin-left:8em;
           margin-right:8em;
        }
    </style>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="topnav">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="#">待办清单</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">关于本站</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0 col-7 justify-content-end">
          <input class="form-control mr-sm-2 " type="text" placeholder="待办事项" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 " type="submit">添加</button>
        </form>
      </div>
    </nav>

    <main role="main" class="container">
      <br>
      <form id="form-edit">
        <div class="form-group">
          <label for="editTodo"></label>
          <input class="form-control form-control-lg" id="editTodo" type="text" value="遛狗">
          <small id="help" class="form-text text-muted">在这里编辑待办事项</small>
        </div>
        <button type="button" class="btn btn-primary btn-lg btn-block">提交</button>
      </form>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
