{% extends "todolist/base.html" %}

{% load static %}

{% block css %}{% static 'todolist/css/home.css' %}{% endblock css %}

{% block 标题 %}你的个人待办清单{% endblock 标题 %}
{% block 主页高亮 %}active{% endblock 主页高亮 %}
{% block 主体 %}
{{ 警告 }}
<br>
<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th>序号</th>
        <th>待办事项</th>
        <th>编辑</th>
        <th>划掉</th>
        <th>删除</th>
      </tr>
    </thead>
    <tbody class="no-underline">
{% for 每一件事 in 清单  %}

{% if 每一件事.已完成 %}
<tr class="table-dark">
  <th class="text-dark" scope="row">{{ forloop.counter }}</th>
  <td class="text-dark" id="line-through">{{ 每一件事.待办事项 }}</td>
  <td class="text-secondary">不可编辑</td>
  <td><a class="text-info" href="#">撤销</a></td>
  <td><a class="text-danger" href="#">删除</a></td>
</tr>
{% else %}

<tr>
  <th scope="row">{{ forloop.counter }}</th>
  <td>{{ 每一件事.待办事项 }}</td>
  <td><a class="text-info" href="{% url 'todolist:编辑' %}">编辑</a></td>
  <td><a class="text-info" href="#">划掉</a></td>
  <td><a class="text-info" href="#">删除</a></td>
</tr>
{% endif %}



{% endfor %}

      
      
      <!--<tr>
        <th scope="row">2</th>
        <td>看一会小说</td>
        <td><a class="text-info" href="#">编辑</a></td>
        <td><a class="text-info" href="#">划掉</a></td>
        <td><a class="text-info" href="#">删除</a></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>散散步</td>
        <td><a class="text-info" href="#">编辑</a></td>
        <td><a class="text-info" href="#">划掉</a></td>
        <td><a class="text-info" href="#">删除</a></td>
      </tr>
      <tr class="table-dark">
        <th class="text-dark" scope="row">4</th>
        <td class="text-dark" id="line-through">去超市</td>
        <td class="text-secondary">不可编辑</td>
        <td><a class="text-info" href="#">撤销</a></td>
        <td><a class="text-danger" href="#">删除</a></td>
      </tr> -->
    </tbody>
  </table>

{{ 待办事项 }}
{{ 不存在 }}
</div>
{% endblock 主体 %}
