body{
	background-color: #f7f9ff;
}
#topnav{
    font-size: 1.35em;
    padding-left: 5em;
    padding-right: 5em;
    height: 2.5em;
}
nav input{
  width: 39%!important;
}
main{
  fontsize: 1.2em;
}